<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css//bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sample">
            <h1>To do list</h1>
            <form class="task" v-on:submit.prevent>
                <div class="input-group">
                    <input type="text" class="form-control" v-model="todo" v-on:keyup.enter="addTask" placeholder="add your task here...">
                    <div class="input-group-append">
                        <input type="button" class="btn  btn-outline-secondary" value="Add!" @click="addTask">
                    </div>
                </div>
            </form>
            <div class="list-group-item" :class="{done : successClass[index]}" v-for="(task, index) in tasks">
                <div class="row align-items-center">
                    <div class="col-sm-6 task__text">
                            {{ index + 1 }})
                            {{ task.text }}
                    </div>
                    <div class="col-sm-3">
                        <label>
                            <input type="checkbox" v-model="successClass[index]">
                            Done
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-danger" @click="deleteToDo(index)" :disabled="!successClass[index]"><span class="fa fa-adjust"></span> Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '.sample',
            data: {
                todo: '',
                successClass: [],
                checked: [],
                tasks: []
            },
            computed: {

            },
            methods: {
                addTask() {
                    if(this.todo != ''){
                        this.tasks.push({
                            text: this.todo,
                            checked: false

                        });                        
                    }
                    else alert('enter your task')

                    this.todo = '';
                },
                deleteToDo(index) {
                    this.tasks.splice(index, 1);
                    this.successClass[index] = false;
                }
            }
        });
    </script>
</body>

</html>